.header {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 5.4651163vh;
    background: linear-gradient(90deg, #FCB696 0%, #F2738C 100%);
    box-shadow: 0px 5px 12px rgba(243, 124, 141, 0.25);  

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

  }
  #LogoFull {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
  }
  #BeautyCalendar {
    font-family: 'Imbue';
    font-style: normal;
    font-weight: 600;
    font-size: 2.7906977vh;
    color: #FFFFFF;
    margin: 0%;
  }
  #Pinguelo {
    margin-top: 6px;
    margin-left: 3px;
  }
  #TopButtons {
    display: flex;
    position: absolute;
    right: 5.13vw;
    height: auto;
    align-items: center;
    justify-content: center;
  }
  #SearchButton {
    margin-right: 20px;
  }