.detailBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.HeaderInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    

    width: 100vw;
    height: 21.3270142vh;

    /* Gradient */
    background: linear-gradient(90deg, #FDBD98 1.5%, #F26D8C 98%);
    border-radius: 0px 0px 2.5641026vw 2.5641026vw;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;
}
.ButtonContainer {
    display: flex;
    flex-direction: row;
    padding: 10px;
    column-gap: 76.9230769vw;
}
.serviceTitle {
    font-family: 'Imbue';
    font-style: normal;
    font-weight: 600;
    font-size: 8.2051282vw;
    color: #FFFFFF;
    margin: 0%;
    text-align: center;

    width: 66.1538462vw;
}
.serviceDescription {
    font-family: 'Imbue';
    font-style: normal;
    font-weight: 600;
    font-size: 2.7906977vh;
    color: #FFFFFF;
    margin: 0%;
}
.imgDetail {
    background-size: cover; /* Ajusta a imagem para cobrir o espaço */
    border-radius: 10px;

    height: 20.5813953vh;
    width: 81.4249364vw;

    max-width: 320px;
    max-height: 177px;
}
.scheduleBtn {
    /* Frame 11 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 40px;
gap: 10px;

position: relative;
width: 361px;
height: 49px;

/* Gradient BC */
background: linear-gradient(90deg, #FDBD98 1.5%, #F26D8C 98%);
box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
border-radius: 14px;
border: #ffffff00;

/*Text styling*/
color: #FFFFFF;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.05em;

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;

}

/*Service card images*/
#Img1a {
    background-image: url(./assets/detail.png)
}
#Img1b {
background-image: url(./assets/detail.png);
}
#Img1c {
background-image: url(./assets/detail.png);
}
#Img2a {
background-image: url(./assets/detail.png);
}
#Img2b {
background-image: url(./assets/detail.png);
}
#Img3a {
background-image: url(./assets/detail.png);
}
#Img3b {
background-image: url(./assets/detail.png);
}

@media (min-width: 501px) {
    .serviceTitle {
        font-family: 'Imbue';
        font-style: normal;
        font-weight: 600;
        font-size: 41.0256px;
        color: #FFFFFF;
        margin: 0%;
        text-align: center;
    
        width: 330.77px;
    }
    .imgDetail {
        background-size: cover; /* Ajusta a imagem para cobrir o espaço */
        border-radius: 10px;
    
        height: 30vh;
        width: 81.4249364vw;
    
        max-width: 640px;
        max-height: 354px;
    }
}

.separatorTab2 {
    background-color: rgb(255, 255, 255);
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;
    text-align: inherit;
    width: inherit;
    height: 100vh;
    row-gap: inherit;
}