/* SideMenu.css */
.menu {
    width: 60vw;
    max-width: 320px;
    height: 100vh;
    position: fixed;
    right: -320px; /* Start hidden offscreen */
    top: 0;
    background: #ffffff;
    color: var(--text-color);
    transition: right 0.3s ease;
    z-index: 1000;
}

.menu.open {
    right: 0; /* Slide in */
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
}

/* App.css */
.menuButton {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 1001; /* Make sure it's above other content */
}
