/* src/components/CalendarSchedule.css */

.calendarBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .calendarContainer {
    margin: 20px 0;
  }
  
  .confirmBtn {
    padding: 10px 20px;
    background-color: #f26d8c;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirmBtn:hover {
    background-color: #fd719c;
  }
  