/* ServiceMenu.css */
.service-menu {
    display: flex;
    overflow-x: auto;
    padding: 10px;
    gap: 10px; /* Espaçamento entre botões */
  }
  
  .service-button {
    padding: 10px 20px;
    margin: 0;
    background-color: #FFC0CB;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .service-button:hover {
    background-color: #FF69B4;
  }
  