.App {
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;


  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */


  background: #FFFFFF;
  }

/* Safari e Chrome, etc. */
.App::-webkit-scrollbar {
  display: none;
  }
  