.App {
  margin: 0;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  position: relative;
  overflow-x: hidden;

  background: #FFFFFF;
  height: 50%;
  }
  